<html>
    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="refresh" content="3;url=https://landayan-odrs.herokuapp.com/" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Barangay Request System</title>
        <link rel="stylesheet" href=" {% static 'UsersApp/css/styles.css' %} " />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap"
          rel="stylesheet"
        />
      </head>
      <body>
        <div class="container">
          <img src=" {% static 'UsersApp/images/activated.png' %} " alt="Activated" width="600px" height="500px" />
          <div class="right">
            <p class="top-text">Your email is already verified</p>
            <p class="down-text">
              Redirecting to page in 3 seconds...
            </p>
          </div>
        </div>
      </body>
</html>