<html>
    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="refresh" content="3;url=http://localhost:3000/login/" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Barangay Request System</title>
        <link rel="stylesheet" href=" {% static 'UsersApp/css/styles.css' %} " />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap"
          rel="stylesheet"
        />
    </head>
    <body>
        <div class="container">
          <img src=" {% static 'UsersApp/images/success.png' %} " alt="Activated" width="600px" height="500px" />
          <div class="right">
            <p class="top-text"> Your Email is now verfied!</p>
            <p class="down-text">
                You may now log in. <br>

                Redirecting in 3 seconds...
            </p>
          </div>
        </div>
    </body>
</html>